body{
    background-color: #004445;
}


.app{
    
    width: 1200px;
    height: 800px;
    background: yellow;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.playBtn{
    width: 45px;
    height: 45px;
    background: white;
    
}
.playBtn:hover{
    background-color: yellow;
}

#canvas{
    display: flex;
    height: 800px;
    width: 1200px;
    align-self: center;
}

p{
    margin-top: 20px;
    opacity: 0.7;
}

.slideContainer{
    width: 45%;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
}

.slider{
    -webkit-appearance: none;
    direction: rtl;
    width:400px;
    height: 8px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    opacity: 1;
    background: #6fb98f;
    border-radius: 50%;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 30px;
    height: 30px;
    background: #6fb98f;
    border-radius: 50%;
    cursor: pointer;
}